<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/bootstrap-5.0.0-beta1-dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="icon" href="../../static/img/logo.png">
    <link rel="stylesheet" href="../../static/css/style.css">
   <title>Ecopura Chile</title>
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-light position-relative" id="menu_exterior"> 
        <div class="container-fluid position-absolute" id="menu">
            <a href="" class="navbar-brand">Inicio</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu_interior" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <!--Botón celular-->
                <span class="navbar-toggler-icon"></span> <!--Cambiar el nombre del target por el id de lo que abre-->
              </button>
              <div class="collapse navbar-collapse" id="menu_interior">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                          <a href="" class="nav-link">Productos</a>
                      </li>
                      <li class="nav-item">
                          <a href="" class="nav-link">Comprar</a>
                      </li>
                      <li class="nav-item">
                          <a href="" class="nav-link">Contacto</a>
                      </li>
                  </ul>
              </div>
        </div>
    </nav>
    <div  id ="carrusel" class="carousel slide carousel-fade position-relative" data-bs-ride="carousel"> <!--Inicialaizar script de inicio automático del carrusel-->
        <div id="carrusel_interior"class="carousel-inner position-absolute">
            <div class="carousel-item active" data-bs-interval="5000">
                <p class="h1 text-center">
                    Bienvenidos a Ecopura
                </p>
                <p class="text-center">!Esta es una frase bonita!</p>
            </div>
            <div class="carousel-item "data-bs-interval="5000">
                <p class="h1 text-center">¡Haz tu pedido de inmediato!</p>
                <p class="text-center">
                    Un solo clíck, y estaremos afuera de tu casa con tu pedido.
                </p>
            </div>
            <div class="carousel-item " data-bs-interval="5000">
                <p class="h1 text-center">¿Tienes alguna duda?</p>
                <p class="text-center">¡Contáctate con nosotros!</p>
            </div>
        </div>
        <button id="boton_izquierdo" class="carousel-control-prev" type="button" data-bs-target="#carrusel" data-bs-slide="prev">
        </button> 
        <button id="boton_derecho"class="carousel-control-next" type="button" data-bs-target="#carrusel" data-bs-slide="next">
        </button>
    </div>
</header>
<body>
  <img src="../../static/img/background.png" id="wallpaper">
</body>
<script src="../../static/js/bootstrap.min.js"></script>
<script src="../../static/js/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</html>